<!doctype html>
<html lang="en">
<!--http://materializecss.com/color.html-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Joe Vacovsky Jr.">
	<meta name="description" content="A free microservice for generating PDFs of web pages.">
	<title>Skid PDF | Info</title>
	<link rel="icon" href="/static/icon.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="/static/bower_components/normalize.css/normalize.css">
	<link rel="stylesheet" href="/static/bower_components/milligram/dist/milligram.min.css">
	<link rel="stylesheet" href="https://milligram.github.io/styles/main.css">
	<link rel="stylesheet" href="/static/app.css">
</head>

<body>
	<main class="wrapper">
		<nav class="navigation">
			<section class="container" id="about">
				<a class="navigation-title" href="https://github.com/vacoj/skid-pdf">
					<img class="title header-logo" height="30" width="30" src="/static/icon.png" /> &nbsp;
					<h1 class="title title-color">Skid PDF</h1>
				</a>
				<ul class="navigation-list float-right">
					<li class="navigation-item">
						<a class="navigation-link" href="#popover-grid" data-popover>Docs</a>
					</li>
					<li class="navigation-item">
						<a class="navigation-link" href="#popover-support" data-popover>Support</a>
					</li>
					<li class="navigation-item">
						<a class="navigation-link" href="#popover-support" data-popover>Test</a>
					</li>
				</ul>
				<a href="https://github.com/vacoj/skid-pdf" title="Skid PDF on Github" target="_blank">
				</a>
			</section>
		</nav>

		<section class="container" id="documentation">
			<h4 class="title">Documentation</h4>
			<p>Use cases and examples</p>
			<h5 class="title">examples</h5>
			<p>
				<ul>
					<li><a href="https://milligram.github.io/#getting-started" title="Getting Started">Getting Started</a></li>
				</ul>
			</p>
		</section>

		<section class="container" id="testing">
			<h4 class="title">Testing</h4>
			<p> this is where the form for testing the service goes</p>
		</section>

		<section class="container" id="support">
			<h4 class="title">Support</h4>
			<p>supportsupportsupportsupportsupportsupportsupport</p>
		</section>

		<section class="container" id="limitations">
			<h4 class="title">Limitations</h4>
			<p>bshalgbslgbdsilgabhigrbhl</p>
		</section>

		<section class="container" id="Contributing">
			<h4 class="title">Contributing</h4>
			<p>Source code can be found <a href="https://github.com/vacoj/skid-pdf" title="Something">here</a>.</p>
		</section>

		<footer class="footer">
			<section class="container">
				<p>Made for some reason by <a target="_blank" href="https://github.com/vacoj" title="Joe Vacovsky Jr.">Joe Vacovsky Jr</a>.
					Licensed under the
					<a target="_blank" href="https://raw.githubusercontent.com/vacoj/skid-pdf/master/LICENSE" title="MIT License">MIT License</a>.</p>
			</section>
		</footer>
	</main>
	<link rel="stylesheet" href="/static/app.js">
</body>

</html>